    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>关于Raychain</h2>
                <p>Raychain是一个由何冠华先生所创立的初创公司。</p>                     
                <p>Raychain成立于2018年，核心技术团队是由区块链技术专家、互联网精英、金融行业业务专家组成，拥有多年行业专业知识和技术的经验积累。</p>
                <p>从成立至今，Raychain一直致力于通过自身顶尖的技术水平和优质的产品服务，打造区块链行业现象级的数字资产管理服务平台。凭借专业的技术团队、安全的金融资金管理、超强的市场意识在业内享有良好的口碑。 </p>
               
           </div>
        </div>
    </section>
